.form-connexion {
  padding: 50px 0;

  @include media-breakpoint-up(lg) {
    padding: 0;
  }

  .content-form {
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
    }

    .img-form {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
        width: 50%;

        .overlay {
          width: 50%;
          height: 100%;
          position: absolute;
          background: rgba(81, 78, 78, 0.45);
        }

        > img {
          width: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }
    .form {
      // display: flex;
      // flex-direction: column;
      // align-items: center;

      @include media-breakpoint-up(lg) {
        width: 50%;
      }
      .form-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title-form {
          margin-bottom: 60px;
          text-align: center;
          > h1 {
            font-weight: bold;
          }

          > span {
            > a {
              text-decoration: none;
              color: black;
              font-weight: 600;
            }
          }
        }

        .input {
          @extend .mb-3;

          .form-label {
            width: auto;
            font-weight: 600;
          }

          .form-control {
            height: 50px;
          }

          .forget_mdp {
            > a {
              text-decoration: none;
              color: black;
              font-weight: 600;
            }
          }
        }
        .btn-connection {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px 80px;
          height: 50px;
          font-weight: 500;
          margin-top: 60px;
          width: 100%;

          @include media-breakpoint-up(lg) {
            font-size: 20px;
            width: inherit;
          }
        }
      }
    }
  }
}
