@import "~bootstrap/scss/bootstrap";
@import "./bootstrap-themed.scss";

/* IMPORT STYLE COMPONENTS */
@import "./Components/Navbar.scss";
@import "./Components/Heros.scss";
@import "./Components/rehassuranceBar.scss";
@import "./Components/Presentation.scss";
@import "./Components/ModesPetSitting.scss";
@import "./Components/Footer.scss";
@import "./Components/Connexion.scss";
@import "./Components/Inscription.scss";
@import "./Components/Paiement.scss";
@import "./Components/contactezmoi.scss";

/* IMPORT STYLE PAGES */
@import "./Pages/ProfilUser.scss";
@import "./Pages/ProfilPetsitter.scss";

html,
body {
  padding: 0;
  margin: 0;
}

.form-control {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);
}
