// mdpoublie_reset.scss
.mdpoublie-reset-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }
  
  .mdpoublie-reset-content {
    width: 50%;
  }
  
  .mdpoublie-reset-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .mdpoublie-reset-content p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .mdpoublie-reset-image {
    width: 50%;
  }
  
  .mdpoublie-reset-image img {
    width: 100%;
    height: auto;
  }
  